@use 'variaveis';

.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: lighten(variaveis.$corDeFundo, 3%);

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 36px;
        width: 100%;

        img {
            max-width: 40px;
            width: 100%;
        }
    }

    &__links {
        display: flex;

        &__item {
            margin: 6px;

            a{
                text-decoration: none;
                color: #fff;
            }
        }
    }
}