@use 'variaveis';

.show {
    .container {
        h2 {
            text-align: center;

            margin-top: 160px;
            margin-bottom: 2px;

            @media (max-width: 768px) {
                margin-top: 80px;
            }
        }
    }
    
    &__tabs {
        text-align: center;
        display: flex;
        justify-content: space-around;

        .button {
            font-size: 16px;
            margin-bottom: 24px;
            border: none;
        }

        @media (max-width: 767px) {
            .button {
                font-size: 11px;
            }
        }
    }

    &__content {
        text-align: center;
        display: none;
        
        iframe {
            max-width: 800px;
            width: 100%;
            height: 480px;
            border-radius: 8px;

            @media (max-width: 768px) {
                max-width: 400px;
                width: 100%;
                height: 240px;
            } 
        }

        &--is-active {
            display: block;
        }

        a {
            font-style: italic;
            color: variaveis.$corBotao;
            font-size: 18px;

            @media (max-width: 768px) {
                font-size: 12px;
            }

            &:hover {
                letter-spacing: 1px;
                transition: .5s ease;
            }
        }
    }

    .watch {
        margin: 0 auto;
        display: flex;
        max-width: 800px;
        width: 100%;
        justify-content: space-between;
        margin-top: 16px;
        margin-bottom: 24px;

        @media (max-width: 768px) {
            display: block;
            max-width: 400px;
            width: 100%;
            margin-top: 24px;
            margin-bottom: 24px;
            text-align: center;
        }

        &__logo {
            text-align: center;

            h3 {
                font-size: 24px;
                margin-bottom: 36px;
                text-align: center;
                text-decoration: underline;
                text-transform: uppercase;
                letter-spacing: 2px;
            }

            img {
                max-width: 200px;
                width: 100%;
                height: 120px;

                @media (max-width: 768px) {
                    max-width: 120px;
                    height: 80px;
                }
            }
        }

        &__info {
            
            h3 {
                font-size: 24px;
                margin-bottom: 16px;
                text-align: center;
                text-decoration: underline;
                text-transform: uppercase;
                letter-spacing: 2px;

                @media (max-width: 768px) {
                    margin-top: 36px;
                }
            }

            &__list {
                padding: 0 16px;
                margin-bottom: 24px;
                text-align: center;
                letter-spacing: 1px;

                &__item {
                    margin-bottom: 8px;
                    align-items: center;

                    img {
                        max-width: 40px;
                        width: 100%;
                    }
                }
            }
        }
    }
}