.sinopse {
    .container {
        text-align: center;

        h2 {
            margin-top: 160px;
            margin-bottom: 2px;

            @media (max-width: 768px) {
                margin-top: 80px;
            }
        }
    }

    &__content {
        align-items: center;
        display: flex;
        width: 100%;

        @media (max-width: 1023px) {
            display: block;
        }

        @media (max-width: 768px) {
            display: block;
        }

        img {
            max-width: 500px;
            margin-right: 36px;
            border-radius: 8px;

            @media (max-width: 768px) {
                max-width: 250px;
                width: 100%;
                margin-right: 0;
                margin-bottom: 16px;
            }

            @media (max-width: 1023px) {
                    margin-bottom: 16px;
                    max-width: 500px;
                    width: 100%;
            }
        }

        p {
            text-align: justify;
        }
    }
}