@use 'hero';
@use 'header';
@use 'variaveis';
@use 'sinopse';
@use 'elenco';
@use 'wallpaper';
@use 'show';
@use 'footer';

@font-face {
    font-family: homoarak;
    src: url(../../assets/fonts/HOMOARAK.TTF);
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    background-color: variaveis.$corDeFundo;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: #fff;
    font-family: 'Roboto', sans-serif;

}

@mixin title($fontSize: 36px) {
    font-size: $fontSize;
    color: variaveis.$corTitulo;
    font-family: homoarak;
}

.text--big {
    @include text(18px);

    @media (max-width: 768px) {
        @include text(15px);
    }
}

.text--normal {
    @include text;

    @media (max-width: 768px) {
        @include text(14px);
    }
}

.text--small {
    @include text(14px);

    @media (max-width: 768px) {
        @include text(11px);
    }
}

.title--big {
    @include title(44px);

    @media (max-width: 768px) {
        @include title(26px);
    }
}

.title--normal {
    @include title;

    @media (max-width: 768px) {
        @include title(24px);
    }
}

.title--small {
    @include title(20px);

    @media (max-width: 768px) {
        @include title(22px);
    }
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;

    @media (max-width: 768px) {
        max-width: 768px;
        width: 100%;
        margin: 0 auto;
    }
}

.button {
    background-color: variaveis.$corBotao;
    padding: 8px;
    border-radius: 4px;
    border-color: variaveis.$corDeFundo;
    color: #fff;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: homoarak;

    @media (max-width: 768px) {
        max-width: 350px;
        padding: 4px;
    }

    &:hover {
        background-color: lighten(variaveis.$corBotao, 3%);
    }
}

.linha {
    width: 100%;
    border: 0.5px solid lighten(variaveis.$corBotao, 3%);
    box-shadow: 0px 6px 12px lighten(variaveis.$corBotao, 10%);
    margin-bottom: 36px;

    @media (max-width: 768px) {
        margin-bottom: 24px;
    }
}